@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* Full page background */
.login-page {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url("../assets/Bg.png") no-repeat center center;
  background-size: cover;
}

/* Centered card */
.login-container {
  width: 100%;
  max-width: 400px;
}

/* Card styling */
.login-card {
  border-radius: 12px;
  border: none;
  padding: 20px;
  background: #fff;
}

/* Logo */
.login-logo {
  width: 120px;
  height: auto;
}

.sign-in {
  text-align: center;
  font-family: "Roboto", sans-serif;
  color: #6f42c1;
  padding-top: 0;
  font-size: medium;
  font-weight: bold;
  margin: 0;
}

.label-form {
  font-family: "Roboto", sans-serif;
  color: #6f42c1;
  font-weight: bold;
}

.btn-purple {
  background-color: #6f42c1; /* ungu */
  border: none !important;   /* hapus border */
  color: #fff;
  font-size: 16px;           /* atur ukuran teks normal */
  font-weight: 600;          /* biar tebal */
  padding: 10px 25px;         /* tinggi & lebar proporsional */
  border-radius: 8px;        /* rounded halus */
  box-shadow: none !important; /* hapus shadow */
  text-align: center;        /* teks ditengah */
}

.btn-purple:hover {
  background-color: #5a32a3; /* ungu lebih gelap saat hover */
  border-color: #5a32a3;
}

