.custom-form {
  background-color: #1876d4;
  border-radius: 10px;
  padding: 20px;
}

.card-form-login {
  background-image: url('../assets/Bg.png');
  background-repeat: no-repeat;
  background-size: cover; 
  height: 596px;  
  width: 1500px;        
  display: flex;
  padding-bottom: 0;
  justify-content: center;
  align-items: center;
}
