.custom-form {
  background-color: #1876d4; /* biru muda */
  border-radius: 10px;
  padding: 20px;
}

.card-form-login {
  background-color: #cf8888;
  background-image: url('../assets/BG\ Login.png'); /* biru muda */
  border-radius: 10px;
  padding: 300px;
}

.bg-login {
  position: absolute;
  width: 2000px;
  z-index: 10;
}